# Use postgres/example user/password credentials
version: '3.1'

services:

  db:
    image: pgvector/pgvector:pg17
    restart: always
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: example
      POSTGRES_DB: db
    ports:
      - 5432:5432

  adminer:
    image: adminer
    restart: always
    ports:
      - 8089:8089